/*#firsth1{
    text-shadow: 3px 3px 4px rgb(244, 239, 0), -3px -3px 4px rgb(0, 195, 255);
}

#box1{
    width: 100px;
    height: 100px;
    background-color: #ffcc00;
    box-shadow: 3px 3px 41px rgb(213, 223, 23);
    border-radius: 615px;
    margin-left: 90px;
}

#secondh1{
    text-shadow: 3px 3px 4px rgb(102, 255, 0), -3px -3px 4px rgb(234, 255, 0);
    margin-left: 65px;
}


body{
    margin: 0px;
}

.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
    margin: auto;
}

#box1{
    background-color: rgb(255, 0, 0);

}
#box2{
    background-color: cyan;
}


body{
    border: 3px solid;
    display: flow-root;
}
#img1{
    float: left;
    margin-right: 10px;
}
#img2{
    float: right;
    margin-left: 10px;
}


div{
    border: 2px solid;
    height: 75px;
    overflow: auto;
}


div{
    background-color: red;
    width: 100px;
    height: 100px;
    display: inline-block;
    visibility: hidden;
}
span{
    background-color: blue;
    width: 100px;
    height: 100px;
    display: inline-block;
}

* {
    box-sizing: border-box;
}

.container {
    background-color: rgb(193, 193, 193);
    height: 100vh;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: white;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 40%;

}

*{
    margin: 0;
}
#box1{
    width: 200px;
    height: 200px;
    background-color: cyan;
    position: sticky;
    
}
#box2{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    top: 50px;
    left: 50px;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgb(101, 138, 213);
    height: 10vh;
    position: sticky;
    top: 0px;
    overflow: scroll;
    
}
li{
    cursor: pointer;
}
li:hover{
    color: rgb(255, 255, 255);
}
    

body{
    background-image: url(mos-design-mB3VO74i2T8-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


#container{
    border: 2px solid;
}

#container ~ p{
    background-color: yellow;
}


#greeting p{
    background-color: rgb(210, 210, 255);
    padding: 10px;
    display: none;
}
#greeting:hover p{
    display: block;
}

h1::first-letter{
    color:green;
    font-size: 2em;
    font-style: italic;
}
p::first-line{
    background-color: yellow;
}
p::selection{
    background-color:green;
    color: white;
}
#fruit li::before{
    content: "😂";
}
#apple::after{
    content: "yo";
}
.pagination{
    text-align: center;
}
.pagination a{
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}
.pagination a.active{
    background-color: green;
    font-weight: bold;
    border-radius: 5px;
}
.pagination a:hover:not(.active){
    background-color: rgb(173, 173, 173);
    border-radius: 5px;
}

.dropdown{
    display: inline;
}
.dropdown button{
    background-color: rgb(19, 122, 12);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
}
.dropdown button:hover{
    background-color: rgb(33, 149, 33);
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    background-color: rgb(235, 235, 235);
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.363);
    display: none;
    cursor: pointer;
}
.dropdown:hover .content{
    display: block;
}
.dropdown a:hover{
    background-color:rgb(173, 173, 173);
}

h1{
    text-align: center;
}
.navbar ul{
    list-style: none;
    background-color: rgb(192, 192, 192);
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(92, 92, 92);
}
.navbar li{
    float: left;
}
.gallery{
    display: inline-block;
    border: 1px solid rgb(146, 146, 146);
    margin: 5px;
}
.gallery .description{
    padding: 10px;
    text-align: center;
}
.gallery:hover{
    border: 1px solid rgb(0, 0, 0);
}
.gallery img{
    width: 100%;
    height: auto;
}
.container{
    display: flex;
    border: 10px solid black;
    height: 90vh;
    
}
.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: red;
    align-self: end;
}
#box2{
    background-color: yellow;
}
#box3{
    background-color: green;
}
#box4{
    background-color: cyan;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: sans-serif;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: rgb(48, 87, 124);
    height: 5vh;
    padding: 0px 50px;
    gap: 10%;
}
li{
    color: whitesmoke;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.5s ease;
}
li:hover{
    color: rgb(47, 255, 0);
    border-bottom: 2px solid rgb(47, 255, 0);
}
.navigation{
    position: sticky;
    top: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    background-color: rgb(210, 210, 210);
    padding: min(5em, 8%);
    
    color: rgb(6, 18, 58);
    
    box-shadow: 0px 3px 60px rgb(0, 0, 0);
    width: 100%;
    height: 700px;
    
    
}
.title{
    font-size: 4em;
}
.subtitle{
    padding-top: 2%;
    font-size: 1.5em;
}
img{
    width: 900px;
    height: 600px;
    max-width: 100%;
    height: auto;
}
*/
:root{
    --bg-color: #3498db;
}
body{
    background-color: rgb(78, 78, 78);
}
h4{
    margin: 5px 0px 20px 10px;
    
}
.grid-item{
    border: 1px solid white;
    padding: 0;
    margin: 0;
    background-color: rgb(37, 115, 179);
}
.grid-item-1, .grid-item-3{
    background-color: rgb(18, 172, 224);
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 3fr;
    grid-template-rows: 4fr 2fr;
   
}
.grid-item-1{
    grid-column: 1/5;
    grid-row: 1/2;
}

