body{
    background-color: aliceblue;
}
#container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: rgb(0, 153, 255);
    cursor: pointer;
    border: none;
    font-weight: bold;
}
button:hover{
    background-color: rgb(15, 130, 207);
}
input{
    max-width: 3em;
    min-height: 40px;
    font-size: 1.4em;
    text-align: center;
}
#result{
    margin: 25px;
}
#images img{
    width: 150px;
    margin: 5px;
}